/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* From https://github.com/andrewheiss/ath-quarto/blob/main/html/ath.scss */

$white:    #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #000000 !default;

$blue:    #134b70 !default;
$indigo:  #6610f2 !default;
$purple:  #201E43 !default;
$pink:    #af7595 !default;
$red:     #CF4446 !default;
$orange:  #E6AA04 !default;
$light-orange:  #FB9E07 !default;
$old-orange: #EE6A24 !default;
$yellow:  #F6D645 !default;
$green:   #118230 !default;
$teal:    #20c997 !default;
$cyan:    #508C9B !default;

$primary:   $blue!default;
$secondary: $gray-700 !default;
$success:   $green !default;
$info:      $cyan !default;
$warning:   $orange !default;
$danger:    $red !default;
$light:     $gray-400 !default;
$dark:      $black !default;


$--bs-navbar-color: $red !default;

// Links
$link-color: $blue !default;
$link-decoration: none !default;
$link-hover-color: $blue !default;
$link-hover-decoration: underline !default;

// Footer
$footer-bg: $purple !default;
$footer-fg: $gray-300 !default;

// Inline code
$code-bg: $gray-200 !default;
$code-color: $purple !default;

// TOC
$toc-color: $blue;
$toc-font-size: 1em;

// Code copy
$btn-code-copy-color-active: $blue !default;


/*-- scss:rules --*/

/* Apply Roboto Mono to all heading tags */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', monospace;
}

/* Apply Roboto Serif to all paragraphs, captions, and other text */
p, caption, body, .caption, blockquote, li, .text, div {
  font-family: 'Roboto', serif;
}

/* You can customize specific elements as needed, for example: */

h2 {
  font-size: 2em;
}

p {
  font-size: 1.1em;
}


/* Space before title */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 40px;
}

/* Apply 'Raleway' to all navbar items */
nav ul li a, .site-owner {
    font-family: 'Raleway', monospace;
}

main {
  margin-top: 0;
  margin-bottom: 0;
}

pre.text, pre.sourceCode, .cell-output pre {
    font-size: 0.775em;
}

.navbar-nav.navbar-nav-scroll.ms-auto {
    flex-direction: row;
}

.sidebar nav[role="doc-toc"]>ul li a {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.navbar {
  letter-spacing: 0.1em;
  background-color: $purple;
  border-bottom: 1px solid body-mix(50%);

  &.fixed-top {
    border-width: 0 0 1px;
  }

  &.fixed-bottom {
    border-width: 1px 0 0;
  }
}

.navbar-nav {

  .show>.nav-link,
  .active>.nav-link,
  .nav-link.active {
    color: $cyan;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: $cyan;
  }

  .nav-link {
    color: body-mix(50%);
  }

  a.nav-link,
  a.nav-link:after,
  a.nav-link:before {
    transition: all .75s;
  }

  a.nav-link {
    position: relative;
  }

  a.nav-link:hover:after {
    width: 80%;
  }

  a.nav-link.active:after,
  a.nav-link.active:hover:after {
    border-top: .2em solid $cyan;
  }

  a.nav-link:hover:after,
  a.nav-link:after {
    border-top: .1em solid $cyan;
  }

  a.nav-link:after {
    position: absolute;
    border-top: .1em solid body-mix(90%);
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
  }

  .show>.nav-link,
  .active>.nav-link,
  .nav-link.active {
    font-weight: bolder;
  }

  .nav-link:hover,
  .nav-link:focus {
    color: $cyan;
  }
}

@media (max-width: 992px) {
  .navbar-expand-lg {

    a.nav-link.active:after,
    a.nav-link.active:hover:after,
    a.nav-link:hover:after,
    a.nav-link:after {
      border-top: 0 solid $body-color;
    }
  }
}

.navbar-title {
  font-family: 'Raleway', monospace;
  font-weight: bolder;
}

.quarto-grid-item img.thumbnail-image {
                height: 100%;
                object-fit: contain;
        }

// Blog
.blog {
    .blog-entry {
        display: flex;
        flex-direction: row;
        //font-family: $headings-font-family;
        line-height: 1.3;
        margin-bottom: 1.5em;
        column-gap: 1em;

        .metadata {
            flex: 0 0 8%;
        }

        .body {
            flex: 1 1 auto;
        }

        .thumbnail {
            flex: 0 0 25%;

            img {
                max-height:120px;
                object-fit: cover;
                width: 100%;
            }
        }

        .title {
            font-weight: 500;
            font-size: 1.3em;
            margin-bottom: 0.2em;
            line-height: 1.2;
        }

        .description {
            font-weight: 300;
            font-size: 1em;
            margin-bottom: 0.3em;
        }

        .date {
            font-weight: 300;
            font-size: 0.85em;
            margin-top: 0.3em;
            text-align: right;
        }

        .post-categories {
            display: flex;
            flex-wrap: wrap;
            row-gap: 0.4em;
            column-gap: 0.4em;
            margin: 0.5em 0;

            .post-category {
                color: $gray-600;
                border: 1px solid $gray-500;
                border-radius: 0.25rem;
                text-transform: uppercase;
                font-size: 0.65em;
                padding: 0.15em 0.5em;
                cursor: pointer;
            }
        }
    }
}

.quarto-title-banner a {
    color: #212529;
}

// TOC

/* Target the TOC container with the specific ID and class */
nav#TOC.toc-active {
    background-color: transparent !important; /* Remove background color */
    font-size: 0.9em !important; /* Adjust the font size */
    color: #212529 !important; /* Set readable text color */
    padding: 10px !important; /* Add padding for better spacing */
}

/* Style the links inside the TOC */
nav#TOC.toc-active a {
    color: #212529 !important; /* Set readable color for links */
    font-size: 0.9em !important; /* Ensure smaller font size */
    text-decoration: none !important; /* Remove underline from links */
}

/* Add hover effects to TOC links */
nav#TOC.toc-active a:hover {
    color: #000 !important; /* Set darker color for better readability on hover */
}

nav#TOC.toc-active a.active {
    font-weight: bold; /* Make the active section bold */
    color: #000 !important; /* Ensure visibility of the active section */
    border-left: 3px solid #000; /* Add a left border for better visibility */
}


/* TOC Test*/
nav#TOC.toc-active ul {
    display: block; /* Ensure the TOC list is displayed in a vertical stack */
}

nav#TOC.toc-active ul li {
    display: block; /* List items should stack vertically */
}


nav#TOC.toc-active ul {
    display: block !important; /* Force TOC to stack vertically */
    padding-left: 0; /* Adjust padding if needed */
}

nav#TOC.toc-active ul li {
    margin-right: 0 !important; /* Remove the margin if it's causing horizontal alignment issues */
}

#title-block-header.quarto-title-block.default .description, .title{
  color: $white;
}

#title-block-header.quarto-title-block.default .title, 
#title-block-header.quarto-title-block.default .code-tools-button p::before,
#title-block-header.quarto-title-block.default .code-tools-button i::before
{
  color: $white;
}



#quarto-content>* {
  padding: 0;
}

.blog-post {
    .quarto-title .quarto-categories {
        margin-top: 1.5em;
        color: $white;

        .quarto-category {
            background-color: shift-color($cyan, -25%);
            border-color: shift-color($cyan, -45%);
            color: $white;
            font-size: 0.65em;
            opacity: 1;
        }
    }
}

#quarto-margin-sidebar {
    .quarto-listing-category-title {
        margin-left: 0.5em;
    }

    .quarto-listing-category {
        //font-family: $toc-font-family;
        font-weight: 300;
        font-size: 1em;
        line-height: 1.1;
        padding-left: 0.6rem;
        margin-left: 0.5em;
        border-left: 1px solid $gray-200;

        .category {
            padding-bottom: 0.5rem;
        }

        .active {
            font-weight: 400;
            color: $blue;
        }

        .quarto-category-count {
            font-weight: 200;
            font-size: 0.8em;
            color: $gray-600;
        }
    }
}

.code-tools-button {
    position: relative;
    left: 5em;

    @media (max-width: map-get($grid-breakpoints, md)) {
        left: 0;
    }
}

.nav-footer {
    align-items: flex-start;  // Align all flex items to the top
    flex-wrap: wrap;
    border: 0 !important;
    min-height: 3em;
    //font-family: $footer-font-family;

    a {
        color: $cyan;
    }

    .faux-block {
        display: block;
        padding-bottom: 0.4em;
    }

    // In the default Quarto template, .nav-footer-center has position: absolute 
    // turned on, which makes the div not be a flex item
    // This changes that so that it *is* a flex item
    .nav-footer-center {
        text-align: center;
        position: inherit;
        margin-top: 0;

        @media (max-width: map-get($grid-breakpoints, md)) {
            margin-top: 0.5em;
            margin-bottom: 1.5em;
        }
    }

    // When the screen is medium or smaller, make each footer chunk be 100% width 
    // and centered; otherwise make them be 33% width and left/right/centerd
    .nav-footer-left,
    .nav-footer-right,
    .nav-footer-center {
        text-align: center;
        width: 100%;
        min-height: 2em;
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
        .nav-footer-left {
            text-align: left;
        }

        .nav-footer-right {
            text-align: right;
        }

        .nav-footer-left,
        .nav-footer-right,
        .nav-footer-center {
            flex: 1 1 33%;
        }
    }
}

.tip-thanks p{
  font-size: 0.8em;
  color: gray;
  font-style: italic;
}

#news p a{
  color: $blue;
}

/* Reduce the font size of card titles */
h5.no-anchor.card-title.listing-title {
    font-size: 20px !important; /* Adjust the size to your preference */
    line-height: 1.3; /* Adjust line height for better spacing */
}

// FONTS

/* Set base font size for the entire document */
body {
    font-size: 1em !important; /* Adjust as necessary */
    line-height: 1.6 !important; /* Ensure proper readability */
    font-family: 'Raleway', monospace; /* Apply Raleway for consistency */
}

/* Heading adjustments */
h2, h3, h4, h5, h6 {
    font-family: 'Raleway', monospace !important;
    font-size: 1.5em !important; /* Adjust heading size */
    margin-bottom: 15px; /* Add some spacing */
}

/* Paragraph adjustments */
p {
    font-size: 1em !important; /* Adjust for readability */
    margin-bottom: 20px; /* Add spacing after paragraphs */
}

// Add styles for callouts
.callout {
    background-color: darken($gray-100, 5%) !important;
    border-color: $link-color !important;
    
    .callout-title {
        background-color: darken($gray-100, 8%) !important;
    }
}

// Add styles for selection highlighting
::selection {
    background-color: $cyan !important;
    color: $white !important;
}

