/*-- scss:defaults --*/

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Fira+Mono&family=Domine:wght@400;700;900&family=Nunito:wght@400;900&display=swap');

// Colors

// Most colors adopted from https://palx.jxnblk.com/
// with base color #0b7366

$white:  #fff;
$gray-0: #f9f9f9;
$gray-1: #eceeee;
$gray-2: #dfe1e1;
$gray-3: #d0d4d3;
$gray-4: #c0c5c4;
$gray-5: #aeb4b3;
$gray-6: #99a1a0;
$gray-7: #818b8a;
$gray-8: #626f6d;
$gray-9: #334240;
$black:  #000;

// colors
$teal:        #0b7366;
$teal-light:  #f6fafa;
$teal-dark:   #07483f;
$orange:      #a98069;
$orange-light:#e9dfd9;
$orange-dark: #6a2d0a;

$primary:       $teal;
$secondary:     $orange-dark;
$light:         $teal-light;
$light-accent:  $gray-3;
$dark:          $gray-9;

// Base document colors
$navbar-bg: $primary; // navbar
$navbar-fg: $teal-light; // navbar foreground elements
$navbar-hl: $white; // highlight color when hovering over navbar links
$link-color: $orange-dark; // hyperlinks

// Inline code
$code-bg: $orange-light; // inline code background color
$code-color: $orange-dark; // inline code text color

// Contrast
$min-contrast-ratio:   7;