/*-- scss:defaults --*/

/* Load fonts */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500;700&family=Source+Sans+Pro:wght@300;400;600;700&family=Petrona:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap');

